*{
    margin: 0;
    padding: 0;
    border: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

body{
    background-image: url(/assets/bacgroumd.jpg);
  color: black;
}

.headercontact{
    width: 150px;
    background-color: #f35b04;
    height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
}
li{
    list-style: none;
}

a{
    color: white;
    text-decoration: none;
}
.navimage img{
    width: 150px;
}
.navbar{
    background-color: #000000f3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50 px;
}

.nav-menu{
    display: flex;
    justify-content:  space-between;
    align-items: center;
    gap: 150px;
}

.nav-link{
    transition: 0.5s ease;
}

.hamburger{
    display: none;
    cursor: pointer;
}
.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: white;
}
.nav-link:hover{
    color: #f35b04;
}

@media(max-width:768px){

    .navbar{
        padding: 0 20px;
        position: fixed;
        width: 90%;
    }
    .hamburger{
        display: block;
    }

    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav-menu{
        position: fixed;
        left:100%;
        top: 70px;
        gap: 0;
        flex-direction: column;
        background-color:#000000 ;
        width: 100%;
        text-align: center;
        transition: 0.3s;
    }

    .nav-item{
        margin: 16px 0;
    }

    .nav-menu.active{
        left: 0;
    }

    .headercontact{
        position: fixed;
        left: 100%;
        top: 70px;
        gap: 0;
    }

    
}

.contactsecition{
    margin: px 20px;
    background-color: white;
    color: black;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 98%;
    padding: 200px 0;
}

.contactone{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    font-size: 25px;
    width: 50%;
}

.contacttwo{
    background-color: #f35b04;
    height: 350px;
    width: 500px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    border-radius: 30px;
    color: white;
}

.number{
    display: flex;
    justify-content: center;
    align-items: center;
}

.contactimage{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.contactimage img{
    border-radius: 10px;
}

footer{
    display: flex;
    flex-direction: column;
    padding: 0px 40px;
    color: white;
}
.footers{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 150px;
}
.footerlinks{
    display: flex;
    gap: 10px;
    flex-direction: column;
    padding: 20px 80px;
    font-size: 20px;
}

.fooetermail{
    display: flex;
    align-items: center;
    gap: 30px;
}

.officeadress{
    display: flex;
    align-items: center;
    gap: 50px;
}

.contactimage{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
}
.foterright{
    padding: 20px;
    border-top: 5px solid #a3a19e4d;
}
@media screen and (max-width:900px) {
    .contactsecition{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 50px;
        flex-direction: column;
        width: 100%;
       }
       
       .contacttwo{
        width: 300px;
       }
       .footers{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 20px;
    }

    .officeadress{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    
}